<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- iOS는 자동 링크가 될 수 있다. 그것을 막은 것. -->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">

    <!-- 아이콘 사용을 위한 fontawesome CDN -->
    <script th:src="@{https://use.fontawesome.com/releases/v5.2.0/js/all.js}"></script>

    <!-- favicon 적용 모든 html에 적용되어야 함.-->
    <link rel="icon" th:href="@{/img/icon_regular.png}">

    <!-- reset.css, common 모든 html에 적용되어야 함. -->
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <!-- my,list page css -->
    <link rel="stylesheet" th:href="@{/css/mylist.css}">

    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>

    <title>평생학습의 장터, 학습장</title>
</head>
<body>
<div id="root">
    <!-- nav -->
    <div class="nav_container">
        <nav class="nav">
            <a class="nav_logo" th:href="@{/}">
                <img class="logo" th:src="@{/img/icon_word.png}">
            </a>
            <div class="navbar_Loginwrapper" sec:authorize="!isAuthenticated()">
                <a th:href="@{/lecture/list}" class="nav_list">전체 강의</a>
                <a th:href="@{/user/login}" class="nav_list">로그인</a>
            </div>
            <div class="navbar_Loginwrapper" sec:authorize="isAuthenticated()">
                <a th:href="@{/lecture/list}" class="nav_list">전체 강의</a>
                <a th:href="@{/user/mypage}" class="nav_list" th:text="${session.user.getName()}"></a>
                <form th:action="@{/user/logout}" method="post">
                    <input type="submit" th:value="로그아웃" class="nav_list">
                </form>
            </div>
        </nav>
    </div> <!-- nav_container -->

    <!-- 여기서부터 코드 짜면됨. 단, content class이름 자체는 절대 건들지 말 것. -->
    <div class="content">
        <div class="account">
            <div class="account_user">
                <img th:src="${user.getPicture()}">
            </div>
            <p class="account_mail" th:text="${user.getName()} + ' ' + ${user.getEmail()}"></p>
        </div>

        <!-- 찜 강좌, 내 후기 선택 -->
        <section class="list">
            <div class="list_container">
                <div class="list_select">
                    <input type="radio" name="button" value="찜 강좌 목록" id="heart" checked>
                    <label for="heart" class="heart_lecture">찜 강좌 목록</label>
                </div>
                <div class="list_select">
                    <input type="radio" name="button" value="작성한 후기" id="review">
                    <label for="review" class="my_review">작성한 후기</label>
                </div>
            </div>
        </section>
        <br>

        <section class="list_content">
            <div class="list_container">
                <!-- 찜 강좌 목록 페이지 -->
                <div id="list-1" class="list_select_content_1">
                    <div th:each=" wish : ${wishes}">
                        <!-- 강좌 한 블록 -->
                        <div class="list_block">
                            <div class="list_block_header">
                                <div class="list_block_header_start">
                                    <button class="onoff" th:text="${wish.lecture.getEdcMthType()}"
                                            th:style="${wish.lecture.getEdcMthType()} == '온라인' ? 'background-color:#FFE0B2; color:#C58E00;' : ''"></button>
                                    <button class="anyone" th:text="${wish.lecture.getEdcTrgetType()}"></button>
                                </div>
                                <div class="list_block_header_end" th:text="'D-' + ${wish.lecture.getRemainDay()}"></div>
                            </div>
                            <div class="list_block_title" th:text="${wish.lecture.getLctreNm()}"></div>
                            <div class="list_block_location">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
                                    <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
                                </svg>
                                <p th:text="${wish.lecture.getEdcRdnmadr()}"></p>
                            </div>
                            <hr>
                            <div class="list_block_option">
                                <a th:href="@{delete/wish(wishId=${wish.getId()})}"><button class="list_block_option_detail">삭제</button></a>
                                <a th:href="@{/lecture/detail(id=${wish.lecture.id})}"><button class="list_block_option_detail">자세히 보기</button></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 작성한 후기 페이지 -->
                <div id="list-2" class="list_select_content_2" style="display: none;">
                    <div th:each="review : ${reviews}">
                        <div class="review_block">
                            <div class="review_block_title" th:text="${review.title}"></div>
                            <div class="review_block_body" th:text="${review.content}"></div>
                            <div class="review_block_user">
                                <div class="review_block_user_name" th:text="${review.user.name}"></div>
                                <div class="review_block_user_date" th:text="${review.createdDate}"></div>
                            </div>
                            <a th:href="@{/review/edit(reviewId=${review.getId()})}"><button class="list_block_option_detail">수정</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- footer -->
    <div class="footer_container">
        <footer class="footer">
            <div class="copyright">
                <h2>학습장</h2>
                <div class="copyright_content">
                    <span>Contact</span>
                    <span>lemonherb0323@naver.com</span>
                </div>
                <div class="copyright_content">
                    <span>Copyright</span>
                    <span>HakSeubJang. All rights reserved</span>
                </div>
            </div>
            <div class="hakseubjang">
                <a class="ft14-fw600" href="#">이용약관</a>
                <a class="ft14-fw600" href="#">개인정보처리방침</a>
                <a class="ft14-fw600" href="#">서비스소개</a>
            </div>

        </footer>
    </div>
</div>


<script th:src="@{/js/mylist.js}"></script>
</body>
</html>