<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- iOS는 자동 링크가 될 수 있다. 그것을 막은 것. -->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">

    <!-- 아이콘 사용을 위한 fontawesome CDN -->
    <script th:src="@{https://use.fontawesome.com/releases/v5.2.0/js/all.js}"></script>

    <!-- favicon 적용 모든 html에 적용되어야 함.-->
    <link rel="icon" th:href="@{/img/icon_regular.png}">

    <!-- reset.css, common 모든 html에 적용되어야 함. -->
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <!-- my,list page css -->
    <link rel="stylesheet" th:href="@{/css/mylist.css}">

    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>

    <title>평생학습의 장터, 학습장</title>
</head>
<body>
<div id="root">
    <!-- nav -->
    <div class="nav_container">
        <nav class="nav">
            <a class="nav_logo" th:href="@{/}">
                <img class="logo" th:src="@{/img/icon_word.png}">
            </a>
            <div class="navbar_Loginwrapper" sec:authorize="!isAuthenticated()">
                <a th:href="@{/lecture/list}" class="nav_list">전체 강의</a>
                <a th:href="@{/user/login}" class="nav_list">로그인</a>
            </div>
            <div class="navbar_Loginwrapper" sec:authorize="isAuthenticated()">
                <a th:href="@{/lecture/list}" class="nav_list">전체 강의</a>
                <a th:href="@{/user/mypage}" class="nav_list" th:text="${session.user.getName()}"></a>
                <form th:action="@{/user/logout}" method="post" style="display: flex;
                align-items: center;">
                    <input type="submit" th:value="로그아웃" class="sb_nav_list">
                </form>
            </div>
        </nav>
    </div> <!-- nav_container -->

    <!-- 여기서부터 코드 짜면됨. 단, content class이름 자체는 절대 건들지 말 것. -->
    <div class="content">
        <div class="account">
            <div class="account_user">
                <img th:src="${user.getPicture()}">
            </div>
            <div class="account_inform">
                <h2 th:text="${user.getName()}"></h2>
                <p th:text="${user.getEmail()}"></p>
            </div>
        </div>

        <!-- 찜 강좌, 내 후기 선택 -->
        <section class="list">
            <div class="list_container">
                <div class="list_select">
                    <input type="radio" name="button" value="찜 강좌 목록" id="heart" checked>
                    <label for="heart" class="heart_lecture">찜 강좌 목록</label>
                </div>
                <div class="list_select">
                    <input type="radio" name="button" value="작성한 후기" id="review">
                    <label for="review" class="my_review">작성한 후기</label>
                </div>
            </div>
        </section>
        <br>

        <section class="list_content">
            <div class="list_container">
                <!-- 찜 강좌 목록 페이지 -->
                <div id="list-1" class="list_select_content_1">
                    <div th:each=" wish : ${wishes}">
                        <!-- 강좌 한 블록 -->


                        <div class="list_block">
                            <div class="list_block_header">
                                <div class="list_block_header_start">
                                    <button class="onoff" th:text="${wish.lecture.getEdcMthType()}"
                                            th:style="${wish.lecture.getEdcMthType()} == '온라인' ? 'background-color:#FFE0B2; color:#C58E00;' : ''"></button>
                                    <button class="anyone" th:text="${wish.lecture.getEdcTrgetType()}"></button>
                                </div>
                                <div class="list_block_header_end" th:text="'D-' + ${wish.lecture.getRemainDay()}"></div>
                            </div>
                            <div class="list_block_title" th:text="${wish.lecture.getLctreNm()}"></div>
                            <div class="list_block_location">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M12.0029 0.996582C7.59651 0.996582 4.00098 4.59212 4.00098 8.99855C4.00098 11.9652 5.87914 15.2447 7.66978 17.9306C9.46041 20.6166 11.25 22.655 11.25 22.655C11.3399 22.7574 11.4498 22.8404 11.5729 22.8988C11.696 22.9572 11.8298 22.9898 11.966 22.9946C12.1021 22.9994 12.2379 22.9764 12.3648 22.9269C12.4918 22.8774 12.6073 22.8025 12.7042 22.7067C12.7042 22.7067 14.5175 20.8988 16.3214 18.3219C18.1252 15.7449 19.9975 12.3874 19.9975 8.99855C19.9975 4.59212 16.4094 0.996582 12.0029 0.996582ZM12.0029 2.99707C15.3285 2.99707 17.997 5.673 17.997 8.99855C17.997 11.6097 16.3787 14.7547 14.6826 17.1777C13.3572 19.0711 12.5474 19.8464 12.0325 20.3888C11.523 19.7847 10.6795 18.8465 9.3307 16.8234C7.62134 14.2593 6.00147 11.0319 6.00147 8.99855C6.00147 5.673 8.67739 2.99707 12.0029 2.99707Z" fill="#00001D"/>
                                    <path d="M12.0029 4.99756C9.80565 4.99756 8.00195 6.80125 8.00195 8.99854C8.00195 11.1958 9.80565 12.9995 12.0029 12.9995C14.2002 12.9995 15.9965 11.1958 15.9965 8.99854C15.9965 6.80125 14.2002 4.99756 12.0029 4.99756ZM12.0029 6.99805C13.1193 6.99805 14.0034 7.88213 14.0034 8.99854C14.0034 10.115 13.1193 10.999 12.0029 10.999C10.8865 10.999 10.0024 10.115 10.0024 8.99854C10.0024 7.88213 10.8865 6.99805 12.0029 6.99805Z" fill="#FF2876"/>
                                    </svg>
                                <p style="width: calc(100% - 34px);" th:text="${wish.lecture.getEdcRdnmadr()}"></p>
                            </div>
                            <hr style="height: 0.5px; background: #CDCDCD; border: 0;">
                            <div class="list_block_option">
                                <a th:href="@{delete/wish(wishId=${wish.getId()})}" class="tab_block">
                                    <button class="list_block_option_detail">삭제</button>
                                </a>
                                <a th:href="@{/lecture/detail(id=${wish.lecture.id})}" class="tab_block">
                                    <button class="list_block_option_detail">자세히 보기</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 작성한 후기 페이지 -->


                <div id="list-2" class="container_review_list" style="display: none;">

                    <!-- wrap_review 반복 -->
                    <div class="wrap_review" th:each="review : ${reviews}" id="click_review">
                        <div class="inner_review">
                            <h2 class="review_title" id="p_title" th:text="${review.title}"></h2>
                            <p class="review_content" id="p_content" th:text="${review.content}"></p>
                            <div class="writer_information">
                                <div class="wrap_writer_profile">
                                    <span class="grayfs12fw500" th:text="${review.user.name}"></span>
                                </div>
                                <div class="wrap_writer_date">
                                    <span class="grayfs12fw500" th:text="${review.createdDate}"></span>
                                </div>
                            </div>
                            <a class="list_block_option_detail" th:href="@{/review/edit(reviewId=${review.getId()})}">
                                <button type="button" class="btn_option_detail">수정</button>
                            </a>
                        </div>
                    </div> <!-- wrap_review -->

                </div> <!-- container_review_list-->
            </div>
        </section>

    </div>

    <!-- footer -->
    <div class="footer_container">
        <footer class="footer">
            <div class="copyright">
                <h2>학습장</h2>
                <div class="copyright_content">
                    <span>Contact</span>
                    <span>lemonherb0323@naver.com</span>
                </div>
                <div class="copyright_content">
                    <span>Copyright</span>
                    <span>HakSeubJang. All rights reserved</span>
                </div>
            </div>
            <div class="hakseubjang">
                <a class="ft14-fw600" href="#">이용약관</a>
                <a class="ft14-fw600" href="#">개인정보처리방침</a>
                <a class="ft14-fw600" href="#">서비스소개</a>
            </div>

        </footer>
    </div>
</div>


<script th:src="@{/js/mylist.js}"></script>
<script th:src="@{/js/review.js}"></script>
</body>
</html>