.title-form__display-flex{
    width: 100%;
    height: 72px;
    margin: 18px, 63px, 17px;
    align-items: center;
    justify-content: center;

}

.edit {
    max-width: var(--mypage-width);
    margin: 130px auto;
}

#lecture{
    max-width: 300px;
    height: 40px;
    margin: 18px, 63px, 17px;
    padding: 0px, 0px, 26px;
    font-size: 20px;
    font-family: "Noto Sans", "Noto Sans CJK KR", sans-serif;
    outline: none;
}

#lecture__id{
    width: 50px;
    height: 100%;
    /*margin-right: 63px;*/
    /*margin-left: 63px;*/
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 14px;
    font-family: "Noto Sans", "Noto Sans CJK KR", sans-serif;
    outline: none;
}

#title{
    width: 100%;
    height: 72px;   
    font-size: 30px;
    font-family: "Noto Sans", "Noto Sans CJK KR", sans-serif;
    outline: none;
}
.edit__start{
    max-width: var(--mypage-width);

}

#title-form {
    border-bottom: 1px solid var(--gray-line);
    padding: 0 5px 0 5px;
}

.title-form__display{
    width: 100%;
    height: 72px;
    margin: 18px, 65px, 18px;
    align-items: center;
    justify-content: center;
}

#main{
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    resize: both;
    box-sizing: border-box;
    border: none;
    resize: none;
    outline: none;
    font-family: "Noto Sans", "Noto Sans CJK KR", sans-serif;
}

.main-form__display-flex{
    width: 100%;
    height: 460px;
    /*margin-top: 18px;*/
    /*margin-right: 65px;*/
    /*margin-left: 65px;*/
    /*margin-bottom: 18px;*/
}

.edit__main{
    max-width: var(--mypage-width);
    margin: 0 auto 20px auto;
    vertical-align: top;
    border-bottom: 1px solid var(--gray-line);
}

#main-form {
    border-bottom: 1px solid var(--gray-line);
}

#btn_group {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0 0;
}

#btn_group button{
    width: 80px;
    height: 40px;
    text-align: center;
    margin: 0px 10px 0 0;
}

.btn_group1 {
    display: flex;
    justify-content: center;
}

#cancel{
    border-radius: 5px;
    color: #8b8b8b;
}

#save{
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;  
}

#delete{
    border-radius: 5px;
    color: #8b8b8b;
}

#btn_group button:hover{
    color: white;
    background-color: var(--primary-color);
}

#btn_group #delete{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.lecture_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 5px;
    height: 40px;
}

.lecture__name, .lecture__id {
    height: 100%;
}


hr {
    background:#d9d9d9;
    height:1px;
    border:0;
}

.lecture_grade select {
    width: 100px;
}

/* 미디어 쿼리 */

@media all and (min-width:1024px) {

}

/* 테블릿 가로, 테블릿 세로 (해상도 600px ~ 1023px)*/ 
@media all and (max-width:1023px) {
    .write-form__display-flex{
        width: 100%;
    }
    #lecture{
        font-size: 16px;
    }
    #lecture__id{
        font-size: 16px;
    }
    #title{
        font-size: 24px;
    }
    .edit {
        margin: 60px auto;
    }
}

/* 모바일 가로, 모바일 세로 (해상도 320px ~ 767px)*/ 
@media all and (max-width:767px) {
    .write-form__display-flex{
        width: 100%;
    }
    #lecture{
        font-size: 14px;
    }
    #lecture__id{
        font-size: 14px;
    }
    #title{
        font-size: 20px;
    }
    #main {
        font-size: 8px;
    }
    .btn_group{
        padding: 60px 0 0 0;
    }
    .edit__start{
        max-width: var(--mypage-width);
    }
    #btn_group button{
        width: 60px;
        height: 30px
    }
    .edit {
        margin: 40px auto;
        padding: 0 20px;
    }
    #main {
        font-size: 12px;
    }
}

@media all and (max-width: 425px) {

}