.content {
    display: flex;
    flex-direction: column;
    max-width: var(--primary-width);
    margin: 50px auto;
    box-sizing: border-box;
    gap: 20px;
}

/* 마이페이지 */
.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.account_user {
    width: 100px;
    height: 100px;
    border-radius: 99%;
    overflow: hidden;
}

.account_user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.account_inform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account_inform h2 {
    font-size: 24px;
    font-weight: 500;
}

.account_inform p {
    font-size: 16px;
}

/* 찜, 후기작성 페이지 선택 */
.list {
    margin: 0 auto;
}

.list_container {
    display: flex;
    gap: 30px;
}

.list_select input[type=radio]{
    display: none;
}

.list_select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size:24px;
}

.list_select input[type=radio]:checked ~ label{
    color: #000;
    padding: 5px;
    border-bottom: 5px solid #000;
}

.list_select > label {
    cursor: pointer;
    padding: 5px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: var(--gray-line);
}

.list_content {
    display: flex;
    flex-direction: column;
}

/* 찜목록 -3개당 1열 배치 */
.list_select_content_1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* 강좌 한 개(블록) */
.list_block {
    display: flex;
    width: 320px;
    height: 220px;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    background: #FBFBFB;
    box-shadow: 0px 10px 30px 0px rgba(138, 149, 158, 0.20);
    transition: transform 0.3s;
}

.list_block:hover {
    transform: translateY(-5px);
}

.list_block_header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
}

.list_block_header_start {
    display: flex;
    gap: 10px;
}

.list_block_header_end {
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px 0 0;
}

.list_block_title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.2;
    height: 2.4em;
    font-size: 20px;
    font-weight: 500;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.2;
}

.list_block_location {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 8px;
}

.list_block_option {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.list_block_option_heart {
    display: flex;
    width: 130px;
    height: 30px;
    gap: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    color: #000;
}

.list_block_option_detail {
    width: 130px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    background: var(--gray-line);
    color: #000;
}

.list_block_option_detail:hover, .list_block_option_heart:hover {
    background: var(--gray-box);
}

.fs16fw500 {
    font-size: 12px;
}

/* 작성한 후기 페이지 */
.list_select_content_2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    background: #FBFBFB;
    box-shadow: 0px 10px 30px 0px rgba(138, 149, 158, 0.20);
}

.review_block_title {
    font-weight: bold;
    font-size: 20px;
}

.review_block_body {
    font-size: 12px;
}

.review_block_user {
    display: flex;
    gap: 10px;
    font-size: 12px;
}

/* 페이지네이션 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 40px 0;
}

.pagination_center, .pagination_end {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99%;
    font-size: 12px;
    width: 30px;
    height: 30px;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 5px 5px 0px rgba(138, 149, 158, 0.20)
}

.pagination_center:hover, .pagination_end:hover {
    background: var(--primary-color);
    color: #fff;
}

.anchor_pag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.mobile_lr {
    display: none;
}

/* 리스트페이지 */
.lecture_list_title {
    font-size: 28px;
    font-weight: bold;
    padding: 10px 0 10px 0;
}

.filter_block {
    display: flex;
    max-width: var(--primary-width);
    justify-content: space-between;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    padding: 30px;
    margin: 10px auto;
}

.filter_schButton {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 30px;
}

#filter_search {
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    width: 80px;
    height: 40px;
}

#filter_search:hover {
    background-color: var(--sub-color);
    color: #fff;
}

.filter_block_area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.area_select {
    width: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
    outline: 0;
    background: #fff;
    color: #333;
    border: 1px solid #CDCDCD;
    padding: 4px;
    border-radius: 9px;
}

.filter_block_onoff {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter_block_anyone {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 필터 라디오 스타일 */
.button_filter input[type=radio] {
    appearance: none;
    border: 2px solid #CDCDCD;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size: 10pt;
}

.button_filter input[type=radio]:checked{
    appearance: none;
    background-color: #779C3C;
    border-radius: 5px;
    font-size: 10pt;
}

/* 필터 제목 폰트 */
.area_title {
    font-size: 12pt;
    font-weight: bold;
}

.onoff_title {
    display: flex;
    gap: 8px;
    align-items: center;
}

.onoff_title_p {
    font-size: 12pt;
    font-weight: bold;
}


.anyone_p {
    font-size: 12pt;
    font-weight: bold;
}

/* 검색창 */
.search_bar {
    width: 500px;
    border-radius: 15px;
    display: flex;
    margin: 20px auto;
}

.search_bar input {
    width: 80%;
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px var(--gray-line) solid;
    font-size: 18px;
    outline: none;
}

.search_bar button {
    font-size: 18px;
    border: 0;
    background-color: var(--primary-color);
    width: 20%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #fff;
    cursor: pointer;
}



/* 버튼 스타일 */
.button_filter {
    display: flex;
    gap: 10px;
    align-items: center;
}

.on {
    background-color: #FFE0B2;
    border-radius: 5px;
    width: 64px;
    height: 24px;
    font-size: 10pt;
    color: 	#C58E00;
}

.onoff {
    background-color: #F0F8FF;
    border-radius: 5px;
    min-width: 64px;
    height: 24px;
    font-size: 10pt;
    color: 	#4169E1;
}

.anyone {
    background-color: #F0FFF0;
    border-radius: 5px;
    max-width: 64px;
    min-width: 64px;
    height: 24px;
    font-size: 10pt;
    color: #779C3C; 
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.wrap_review {
    cursor: pointer;
}

.wrap_empty {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.conatiner_review_list {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.inner_review {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid var(--gray-line);
    background: #FFF;
    box-shadow: 0px 10px 30px 0px rgba(138, 149, 158, 0.20);
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.inner_review:active {
    background: rgba(138, 149, 158, 0.20);
}

.review_title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 1.2em;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.review_title_tg {
    /* display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; */
    /* height: 1.2em; */
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.review_content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 2.4em;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.2;
}

.review_content_tg {
    /* display: -webkit-box; */
    /* -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
    /* height: 2.4em; */
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    /* text-overflow: ellipsis; */
    word-wrap: break-word;
    /* overflow: hidden; */
    line-height: 1.2;
}

.writer_information {
    display: flex;
    gap: 18px;
    align-items: center;
}

.wrap_writer_profile {
    display: flex;
    gap: 8px;
    align-items: center;
}

.writer_profile {
    position: relative;
    width: 20px;
    height: 20px;
    background: var(--gray-line);
    border-radius: 99%;
    overflow: hidden;
}

.writer_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.grayfs12fw500{
    color: var(--gray-box);
    font-size: 12px;
    font-weight: 500;
}

.container_review_list {
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.btn_option_detail {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

/* 미디어 쿼리 */

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (max-width:1023px) {
    .content {
        padding: 0 20px;
    }

    .list_select_content_1 {
        gap: 10px;
    }
    .account_user {
        width: 80px;
        height: 80px;
    }
    
    .account_mail {
        font-size: 16px;
        margin: 10px;
    }

    .list_select input[type=radio]+label{
        cursor: pointer;
        line-height: 24px;
        font-size:18px;
    }

    .list_container {
        gap: 20px;
    }

    .filter_schButton {
        justify-content: center;
    }
    /* 강좌 한 개(블록) */
    .list_block {
        width: 100%;
        padding: 10px;
    }

    .list_block_option_heart {
        width: 100%;
        gap: 5px;
        font-size: 8pt;
    }
    
    .list_block_option_detail {
        width: 100%;
        font-size: 8pt;
    }

    .list_block_title {
        font-size: 16px;
    }

    .tab_block {
        width: calc(50% - 5px);
    }

    /* 작성한 후기 페이지 */
    .review_block {
        width: 500px;
        gap: 5px;
    }
    
    .review_block_title {
        font-size: 18px;
    }
    
    .review_block_body {
        font-size: 12px;
    }
    
    .review_block_user {
        display: flex;
        gap: 10px;
        font-size: 8px;
    }

    /* 리스트페이지 */
    .lecture_list_title {
        font-size: 20px;
    }

    .filter_block {
        padding: 20px;
    }

    .area_select {
        margin-top: 0;
        margin-bottom: 0;
        width: 100px;
        padding: 4px;
        font-size: 7pt;
    }

    .area_title {
        font-size: 8pt;
        font-weight: bold;
    }
    
    .onoff_title_p {
        font-size: 8pt;
        font-weight: bold;
    }
    
    .anyone_p {
        font-size: 12px;
        font-weight: bold;
    }

    /* 버튼 스타일 */
    .button_filter {
        gap: 6px;
        font-size: 7pt;
    }

    .on {
        font-size: 7pt;
    }

    .onoff {
        font-size: 7pt;
    }

    .anyone {
        font-size: 7pt;
    }

    /* 검색창 */

    .search_bar input {
        font-size: 15px;
    }
    
    .search_bar button {
        font-size: 15px;
    }
}


/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
    .account_user {
        width: 40px;
        height: 40px;
    }
    
    .account_mail {
        font-size: 16px;
        margin: 10px;
    }

    .list_select input[type=radio]+label{
        cursor: pointer;
        line-height: 24px;
        font-size:18px;
    }

    .list_container {
        gap: 20px;
    }

    .button_filter {
        gap: 6px;
        font-size: 12px;
    }

    /* 찜목록 -3개당 1열 배치 */
    .list_select_content_1 {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    /* 강좌 한 개(블록) */
    .list_block {
        width: 100%;
    }

    .list_block_title {
        font-size: 15px;
    }

    .list_block_header_end {
        font-size: 10pt;
    }

    /* 작성한 후기 페이지 */
    .review_block {
        width: 410px;
        gap: 5px;
        padding: 10px;
    }
    
    .review_block_title {
        font-size: 18px;
    }
    
    .review_block_body {
        font-size: 12px;
    }
    
    .review_block_user {
        display: flex;
        gap: 10px;
        font-size: 8px;
    }


    /* 리스트페이지 */
    .lecture_list_title {
        font-size: 20px;
    }

    .filter_schButton {
        justify-content: center;
    }


    /* 버튼 스타일 */

    .button_filter input[type=radio] {
        appearance: none;
        border: 2px solid #CDCDCD;
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
        width: 10px;
        height: 10px;
        text-align: center;
        font-size: 5pt;
    }

    .on {
        font-size: 7pt;
        width: 40px;
    }

    .onoff {
        font-size: 7pt;
        width: 40px;
    }

    .anyone {
        font-size: 7pt;
        width: 40px;
    }

    #filter_search {
        width: 60px;
        height: 30px;
    }

    /* 검색창 */
    .search_bar {
        width: 400px;
        display: flex;
    }

    .search_bar input {
        font-size: 15px;
    }
    
    .search_bar button {
        font-size: 15px;
    }
}

@media all and (max-width:625px) {
    .filter_block {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .filter_block_area, .filter_block_onoff, .filter_block_anyone {
        width: 200px;
    }
    .area_select {
        width: 70%;
    }
    .button_filter {
        font-size: 12px;
        align-items: center;
    }
    .onoff, .anyone, .on {
        min-width: 40px;
        max-width: 40px;
    }
    .list_block_header_end {
        font-size: 14px;
        min-width: 24px;
        padding: 0;
    }
    .list_block_title {
        font-size: 12px;
    }
    .list_block_location {
        font-size: 10px;
    }
    .list_block {
        height: 180px;
    }
    .pagination_center, .pagination_end {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }

    .onoff_svg {
        height: 0.7em;
    }
}

@media all and (max-width: 425px){
    .content {
        gap: 10px;
        padding: 0 10px;
    }
    
    .account_user {
        width: 40px;
        height: 40px;
    }
    
    .account_mail {
        font-size: 10px;
        margin: 5px;
    }

    .list_container {
        gap: 20px;
        margin: 0 auto;
        width: 100%;
    }

    /* 찜목록 -3개당 1열 배치 */
    .list_select_content_1 {
        grid-template-columns: repeat(1, 1fr);
    }

    /* 강좌 한 개(블록) */
    .list_block {
        padding: 8px;
    }

    .list_block_title {
        font-size: 12px;
    }

    /* 작성한 후기 페이지 */
    .review_block {
        width: 365px;
        gap: 5px;
        padding: 10px;
    }
    
    .review_block_title {
        font-size: 18px;
    }
    
    .review_block_body {
        font-size: 12px;
    }
    
    .review_block_user {
        display: flex;
        gap: 10px;
        font-size: 8px;
    }

    /* 리스트페이지 */
    .lecture_list_title {
        font-size: 20px;
    }

    .filter_block {
        width: 100%;
        padding: 20px;
    }

    .filter_block_area, .filter_block_onoff, .filter_block_anyone{
        gap: 5px;
        justify-content: center;
    }


    /* 버튼 스타일 */

    .button_filter input[type=radio] {
        appearance: none;
        border: 2px solid #CDCDCD;
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
        width: 10px;
        height: 10px;
        text-align: center;
        font-size: 5pt;
    }

    #filter_search {
        width: 60px;
        height: 30px;
    }

    /* 검색창 */
    .search_bar {
        width: 100%;
    }

    .search_bar input {
        font-size: 10px;
    }
    
    .search_bar button {
        font-size: 10px;
    }
    .list_content {
        margin: 0 auto;
        /* width: 100%; */
    }

    /* 페이지네이션 */
    .mobile_lr {
        display: flex;
    }
    
    .pagination_center {
        display: none;
    } 

    .pagination_center, .pagination_end {
        width: 30px;
        height: 30px;

    }
    
    
}